body {
  position: relative;
}
.header {
  height: 100vh;
  background-image: url("./assets/work-desk__dustin-lee.jpg");
  background-size: cover;
  position: relative;
  margin-top: 70px;
  transition: 2s;
}

.header::after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #004a75;
  opacity: 50%;
}

.header-text {
  color: white;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.logo {
  width: 50px;
  height: 50px;
  z-index: 3;
  position: absolute;
  left: 20px;
  top: 20px;
}

.btn-outline-light {
  --bs-btn-color: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-color: #007bc1;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #007bc1;
  --bs-btn-active-border-color: #007bc1;
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: transparent;
  --bs-gradient: none;
}

.panel {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #e5e5e5;
}

.panel-text {
  text-align: center;
}

.panel-content {
  padding-top: 40px;
}

.card {
  background-color: #e5e5e5;
}

.notification {
  background-color: #e5e5e5;
  height: 0;
  position: fixed;
  transition: height 2s;
  z-index: 10;
  margin-top: -70px;
}

.notification a {
  text-decoration: none;
}

.newsletter {
  width: 600px;
  position: absolute;
  padding: 25px;
  bottom: 0;
  background-color: #007bc1;
  opacity: 0.9;
  transition: 2s;
  overflow: hidden;
  position: fixed;
  z-index: 5;
  height: 0px;
  transform: translateY(100%);
}

body:hover .newsletter {
  height: auto;
  transform: translateY(0);
}

.newsletterclose {
  height: auto;
  transform: translateY(100%);
}

.newsletter-content {
  color: #ffffff;
}

.close {
  cursor: pointer;
}

.btn-warning {
  color: #ffffff;
}

.footer {
  color: #ffffff;
  background-color: #004a75;
  text-align: center;
  align-items: center;
  align-content: center;
}
